/* CSS STYLES FOR TRUMPHOUSE*/

body {
	background-color: #aaccaa;
}

#game-canvas {
	position: relative; /*assets inside of canvas position themselves relative to broswer window */
	background-image: url('../img/arena/bkgnd_1992.png');
	width: 700px;
	height: 300px;
}

#white-house {
	position: absolute;
	background-image: url('../img/arena/whitehouse.png');
	height: 300px; /* height same as background image*/
	width: 150px; /* width of background image*/
	right: 0; /* position on r.h. side of screen*/
}

.game-character {
	position: absolute;
	width: 50px;
	height: 50px;
	background-size: 100% 100%;
}

#trump {
	background-image: url('../img/players/trump.png');
	top: 125px;
	left: 0px;
}

#clinton {
	background-image: url('../img/bricks/clinton.png');
	top: 0px;
	left: 500px
}

#cruz {
	background-image: url('../img/bricks/cruz.png');
	top: 50px;
	left: 500px;
}

#kasich {
	background-image: url('../img/bricks/kasich.png');
	top: 100px;
	left: 500px;
}

#sanders {
	background-image: url('../img/bricks/sanders.png');
	top: 150px;
	left: 500px;
}

#johnson {
	background-image: url('../img/bricks/johnson.png');
	top: 200px;
	left: 500px;
}

#stein {
	background-image: url('../img/bricks/stein.jpg');
	top: 250px;
	left: 500px;
}